name: Generate Snake Animation

on:
  schedule:
    # Runs every day at 00:00 UTC
    - cron: '0 0 * * *'
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate GitHub Contribution Grid Snake
        uses: Platane/snk@master
        id: snake-gif
        with:
          github_user_name: obaidullah72
          outputs: |
            output/github-contribution-grid-snake.svg
            output/github-contribution-grid-snake-dark.svg
            output/github-contribution-grid-snake.gif

      - name: Commit and push
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'Generate contribution snake'
          file_pattern: |
            output/github-contribution-grid-snake.svg
            output/github-contribution-grid-snake-dark.svg
            output/github-contribution-grid-snake.gif
